/* 
    CSS
    - Cascading Style Sheets
    - Used to style HTML elements
*/

/* Selectors */
/* Element Selector */
/* h1 {
  color: teal;
}
h2 {
  color: teal;
}
h3 {
  color: rgb(128, 203, 196);
} */

/* Class Selector */
/* #blue {
  background-color: blue;
} */

/* ID Selector */
/* .red {
  background-color: red;
} */
